<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  style="width:100vw;background-color:#f5f5f5;display:flex;justify-content:center;align-items:center;height:640px ">

   
    <div style="font-family: Arial, Helvetica, sans-serif; height: 230px;padding:10px 10px 20px 30px;background-color:#1aff00; width:600px;border-radius:20px;color:rgb(35, 35, 35);border-top:#373737 30px solid;border-bottom:#1d1d1d 20px solid;">
        
        <h4 style=" font-family: Arial, Helvetica, sans-serif;font-weight: 700; font-size:20px;">
            Hello our dear Nigga👋
        </h4>
    

    
        <p style="font-size: 20px;font-weight: 100;">Your password has succesfully changed!🎉 <br> have fun our Suki.</p>
    
        <p  style="margin-top:30px; font-size: 14px;"><i>Thank you for choosing us,</i>  <br> <b style="color: #212121;font-weight: 700; font-size:20px; ">The UMAP team </b> </p>
    </div>
</div>
</body>
</html>