<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div  style="width:100vw;background-color:#f5f5f5;display:flex;justify-content:center;align-items:center;height:640px ">

   
    <div style="font-family: Arial, Helvetica, sans-serif; height: 320px;padding:10px 10px 20px 30px;background-color:#ffc800; width:500px;border-radius:20px;color:rgb(35, 35, 35);border-top:#373737 30px solid;border-bottom:#1d1d1d 20px solid;">
        
        <h4 style=" font-family: Arial, Helvetica, sans-serif;font-weight: 700; font-size:20px;">
            Wazzap Nigga,
        </h4>
    
        <p style="font-size: 15px;font-weight: 100;">We have received a request to reset the password for your UMAP account.</p>
        <p style="font-size: 15px;font-weight: 100;">We apologize for any inconvenience this may have caused. To reset your password, please click on the button below:</p>
    
        <p style="color:black; margin:50px 0px  ">
            <a href="http://localhost:6969/{{ url|safe }}" style="background-color: #1f2937;  width:110px;border-radius: 10px;margin-top:20px;color:white;font-size:19px; padding:15px 20px 15px 20px;text-decoration: none;"  href="">Password reset</a>
        </p>
       
    
        <p  style="margin-top:30px; font-size: 14px;"><i>Thank you for using UMAP,</i>  <br> <b style="color: #212121;font-weight: 700; font-size:20px; ">The UMAP team </b> </p>
    
        
    </div>
</div>
</body>
</html>