.watermark-con {
  pointer-events: none;
  z-index: 100;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
  justify-content: flex-end;
}

.watermark-con code {
  color: #626262;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  font-size: 12px;
  flex-direction: column;
}

.watermark-con code div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.watermark-con code div .glitch {
  pointer-events: visible;
  margin-left: 1vw;
  color: #979797;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: .2px;
}

.watermark-con code div .glitch:hover {
  text-decoration: underline;
  cursor: pointer;
}

.watermark-con code div .gdsc {
  color: #979797;
  font-size: 16px;
  font-weight: 600;
}
